@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width: 100%;
	text-decoration: none;
}

body {
    background-color: black;
    background-size: 100%;
    height: 100%;
}

#sound-bar {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.sound-box {
    margin-left: 2em;
    display: inline-block;
    height: 5em;
    width: 5em;
    background-color: white;
    border-radius: 100%;
    border-color: red;
    border-style: solid;
    border-width: 0.5em;
}

#laatc {
    height: 6.2em;
    width: 11em;
    border-radius: 0%;
    background-color: white;
    border-color: red;
    border-style: solid;
    position: relative;
}

#gtfo {
    height:6.8em;
    width: 9em;
    border-radius: 0%;
    background-color: white;
    border-color: white;
    border-style: solid;
    position: relative;
    top: 1.25em;
}

#gtfo video {
    padding-bottom: 1em;
}

#yeah {
    border-color: yellow;
    border-style: solid;
    background-image: url("samples/liljon.png");
    background-size: 5em 5em;
}

#twe {
    border-color: green;
    border-style: solid;
    background-image: url("samples/twe.png");
    background-size: 5em 5em;
}

#bygi {
    background-image: url("samples/obama.png");
    background-size: 5em 5em;
    border-color: blue;
    border-style: solid;
}

#hagay {
    background-image: url("samples/hagay.png");
    background-size: 5em 5em;
    border-color: purple;
    border-style: solid;
}

#spiderslap {
    background-image: url("samples/spiderslap.png");
    background-size: 5em 5em;
    border-color: pink;
    border-style: solid;
}

sound-bar2 {
    position: relative;
    width: 100%;
    left: 5em;
    text-align: center;
}

#dwtsd {
    margin-top: 2em;
    margin-left: 8em;
    border-radius: 0%;
}

